.españa {
    color: #ff2848 !important;
}

.argentina {
    color: #3fb6e5 !important;
}

.chile {
    color: #0404f0 !important;
}

.mexico {
    color: #07c145 !important;
}

.peru {
    color: #820002 !important;
}
